* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
	background: linear-gradient(-45deg, #ffff, #f3e4df9b);
  background-repeat: no-repeat;
	animation: gradient 15s ease infinite;
  width: 100vw;
  height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
