html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

.label > div {
  font-family: Arial, Helvetica;
  position: absolute;
  font-size: 30px;
  background: #00000088;
  color: white;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50px;
  user-select: none;
}
