<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TODO LIST</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>TODO LIST</h1>
    <form action="/add" method="post">
      <input type="text" name="title" required />
      <button type="submit">Add task</button>
    </form>
    <ul>
      <% tasks.forEach(task => { %>
      <li><%= task.title %> X</li>
      <% }) %>
    </ul>
  </body>
</html>
