<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TODO LIST</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>TODO LIST</h1>
    <form action="/add" method="post">
      <input type="text" name="title" required />
      <button type="submit">Add task</button>
    </form>
    <ul>
      <% tasks.forEach(function(task) { %>
      <div>
        <p><%= task.title %></p>
        <!-- Add this form for each task -->
        <form action="/remove" method="delete">
          <input type="hidden" name="taskId" value="<%= task.id %>" />
          <input type="submit" value="Remove Task" />
        </form>
      </div>
      <% }); %>
    </ul>
  </body>
</html>
