<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Livro</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Projeto 03</h1>
    <form action="/livros/save" method="POST">
      <div>
        <input type="text" name="name" placeholder="Digite nome do livro" />
      </div>
      <div>
        <input type="text" name="name" placeholder="Digite nome do autor" />
      </div>
      <div>
        <input type="submit" value="Cadastrar" />
      </div>
    </form>
    <a href="/">Voltar no menu</a>
  </body>
</html>
