<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>HOME</title>
</head>
<body>
<nav>
  <u>
    <li><a href="/">HOME</a></li>
    <li><a href="/sobre">SOBRE</a></li>
  </u>
</nav>
  {{{body}}}
<footer>
  <p>kakabanci1@karenlinda.com</p>
</footer>
</body>
</html>
